---
layout: page
---

{{ content }}

<div id="TEI"></div>
<script src="{{site.baseurl}}/assets/js/CETEI.js" ></script> <script>
let CETEIcean = new CETEI ();

let behaviors = {
  "tei": {
    "head": function(e) {
      let level = document.evaluate("count(ancestor::tei-div)", e, null, XPathResult.NUMBER_TYPE, null);
      let result = document.createElement("h" + level.numberValue);
      for (let n of Array.from(e.childNodes)) {
        result.appendChild(n.cloneNode(true));
      }
      return result;
    },
    "lb": ["<br>"],
  }
};

CETEIcean.addBehaviors(behaviors);

CETEIcean.getHTML5 ("{{site.baseurl}}/assets/tei/{{page.document}}", function(data) {
  document.getElementById("TEI").appendChild(data)
});
</script>